@use "variables" as *;
@use "mixins" as *;
@use "loading" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&family=Style+Script&display=swap");

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  @include largeScreens {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1rem;
    color: $text-color;
  }
}
//Styling für die Detailansicht
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__back-button,
  &__favorite-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    color: $text-color;
    border: none;
    background-color: $transparent-background;
    &:hover {
      cursor: pointer;
    }
  }
  &__back-svg,
  &__favorite-svg {
    height: 2rem;
    width: 2rem;
    color: $text-color;
  }
}

.main-container {
  //bei kleinen Bildschirmen keine feste Höhe gesetzt, damit sich die Höhe dem Inhalt anpasst
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
  color: $text-color;
  padding: 1rem;
  min-height: 100vh;
  @include largeScreens {
    width: 400px;
    height: $max-height-desktop;
    min-height: unset;
    overflow: auto;
    border-radius: $border-radius;
    background-position: bottom;
    background-size: cover;
    @include blurEffect;
    background: linear-gradient(0deg, #404547, #252e3a 51%);
  }
}

.main-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
  text-shadow: $text-shadow;
  margin-top: 2rem;
  &__city {
    font-size: 1.5rem;
    font-weight: 400;
  }
  &__temperature {
    font-size: 4rem;
    font-weight: 200;
  }
  &__condition {
    font-size: 0.75rem;
  }
}

.hourly-weather {
  width: 100%;
  border-radius: $border-radius;
  color: $text-color;
  padding: 0.5rem;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  margin-bottom: 2rem;
  @include blurEffect;

  &__text {
    padding-bottom: 0.8rem;
    margin-bottom: 0.5rem;
    border-bottom: $border-bottom;
    font-size: 0.8rem;
  }
  &__hours {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
    overflow-x: scroll;
  }
  &__hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  &__icon {
    height: 2rem;
    width: 2rem;
  }
}
.threeDaysForecast {
  width: 100%;
  border-radius: $border-radius;
  color: $text-color;
  padding: 1rem;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  margin-bottom: 2rem;
  @include blurEffect;

  &__text {
    padding-bottom: 0.8rem;
    margin-bottom: 0.5rem;
    border-bottom: $border-bottom;
    font-size: 0.8rem;
  }
  &__days-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
  }
  &__day {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: $border-bottom;
    text-align: center;

    &:last-child {
      border: none;
      padding: 0;
    }
  }
  &__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.specific-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  @include blurEffect;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: $border-radius;
    box-sizing: border-box;
    padding: 0.5rem 0;
    height: 100%;
    width: 100%;
    @include blurEffect;
  }
  &__heading {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  &__text {
    font-size: 1.2rem;
  }
}

//Styling für das Haupt-Menü
.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: $text-shadow;
  &__heading {
    font-size: 3rem;
    font-weight: 300;
  }
  &__button {
    font-size: 1rem;
    font-weight: 700;
    background-color: $transparent-background;
    border: none;
    text-shadow: $text-shadow;
    cursor: pointer;
    color: $text-color;
  }
}

#city-input {
  font-size: 1rem;
  border: none;
  border-radius: $border-radius;
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  cursor: pointer;

  &::placeholder {
    color: gray;
  }
}

.weather-container {
  display: grid;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__delete-button {
    color: red;
    height: 2rem;
    width: 2rem;
    background-color: $transparent-background;
    border: none;
    margin-bottom: 0.5rem;
  }
  &__delete-button:hover {
    cursor: pointer;
  }
  &__svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__card {
    display: flex;
    align-items: center;
    min-height: 120px;
    width: 100%;
    border-radius: $border-radius;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 0.5rem;
    text-shadow: $text-shadow;
    @include blurEffect;

    &:hover {
      cursor: pointer;
    }
  }
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 60%;
  &__heading {
    font-size: 1.5rem;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__text {
    font-size: 0.8rem;
  }
}
.lower-text {
  margin-top: 1rem;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  width: 40%;
  &__temperature {
    font-size: 3rem;
    font-weight: 300;
  }
  &__text {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
}
